
                        <div class="todo-container">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="todo-tasks-container">
                                        <div class="todo-head">
                                           
                                            <h3>
                                                <span class="todo-grey">Optativos:</span> mostrando todos</h3>
                                            <p class="todo-inline">22 Optativos Existentes
                                                
                                            </p>
                                        </div>
                                        <ul class="todo-tasks-content">
                                            <% @optatives.each do |optative| %>
                                                <li class="todo-tasks-item">
                                                    <h4 class="todo-inline">
                                                        <a href="<%= optative_path optative %>"><%= optative.title %></a>
                                                    </h4>
                                                    <p class="todo-inline todo-float-r"><%= optative.professor%>, 
                                                        <span class="todo-red"><%= optative.program%></span>
                                                    </p>
                                                </li>
                                            <% end -%>
                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                      

<% content_for :styles do %>
        <link href="/assets/apps/css/todo.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
<% end -%>

<% content_for :scripts do %> 
        <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<% end -%>